@media (max-width:900px) {
    html {
        font-size: 55%;
    }

    .container {
        padding: 3rem;
    }

    .container__content {
        flex: 1 0 100%;
        text-align: center;
    }

    .container__content--title {
        font-size: 3rem;
        padding-bottom: 1rem;
    }

    .container__content--text {
        text-align: start;
        line-height: 1.8;
        padding-bottom: 1rem;
    }

}

@media (max-width:500px) {
    html {
        font-size: 50%;
    }

    .container {
        padding: 20px;
    }


    .container__content--title {
        text-align: start;
        font-size: 30px;
    }

    .container__content--text {
        font-size: 14px;
    }

    .content__count-down--btn {
        margin: 2rem 0;
    }

    .count-down__box--value {
        font-size: 30px;
    }

    .count-down__box--tag {
        font-size: 15px;
    }
}